@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: flex-start;
    background-color: #43a0c9;
    padding: 0 160px 12px 116px;
}

.content {
    background-color: #d6aef7;
    display: flex;
    flex-direction: column;
    flex: 1;
}

button, img, .container-4 {
    border-radius: 6px;
}

a {
  text-decoration: none;
  color: lightcyan;
  }

a:hover {
    color: hotpink;
}

a:visited {
    color: #013c55;
  }

a:active {
    color: blue;
  }

.links-container {
    margin-left: auto;
    display: flex;
    gap: 24px;
    padding-top: 16px;
  }

.container-1 {
    background-color: #43a0c9;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 24px 160px 60px 160px;
    margin-top: 0;
}

.items {
    background-color: #43a0c9;
    color: #013c55;
    height: 220px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    margin-right: auto;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
    -webkit-background-clip: text;
    color: transparent;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
}

button {
    color: #013c55;
    font-weight: bold;
    background-color: lightcyan;
    border-color: #8b00fd;
    padding: 6px 24px;
}

button:hover {
    background-color: teal;
    color: white;
}

.container-2 {
    background-color: #c0e9fc;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; 
    padding: 54px 120px 60px 120px;
}

.info-container {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
    -webkit-background-clip: text;
    color: transparent;
    padding: 0 24px 40px 24px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 100px;
    text-align: center;
    gap: 120px;
    color: #013c55;
}

.container-3 {
    color: #013c55;
    background-color: #f2e8fa;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 120px 320px;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

.container-4 {
    color: #013c55;
    background-color: #f3e9fc;
    display: flex;
    flex: 1;
    margin: 100px 165px;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;
}

.action {
    font-size: large;
    font-weight: bold;
}

.action-container {
    margin-right: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b00fd;
    padding: 20px 0;
}